$main_bg: #1C2531;
$main_color: #273142;
$main_white : #ffffff;
$main_white_opa : rgba(255, 255, 255, 0.7);
$main_white_opa_2 : rgba(255, 255, 255, 0.6);
$main_white_opa_3 : rgba(255, 255, 255, 0.9);
$search_border_color: #279cf4;
$blue-color: #279cf4;
$green-color: #2bb415;
$orange-color: #f5a623;
$red-color: #d35847;
$caramel_color: #9c904e;
$view_hover_color: #2ea2f8;
$statistics_border_color: #313d4f;
$search_border_focus_color: #6dbeff;

